@import 'tailwindcss';
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  /* backgroud dark mode */
  --color-jet: #333333ff;
  /* card 1 dark mode */
  --color-onyx: #414141ff;
  /* card 2 dark mode */
  --color-davysgray: #4d4d4dff;
  /* primary dark mode */
  --color-argentinianblue: #44aefeff;
  /* backgroud light mode */
  --color-purewhite: #ffffffff;
  /* card light mode */
  --color-seasalt: #f8f8f8ff;
  /* primary light mode */
  --color-dodgerblue: #008ffeff;
}

* {
  font-family: 'Poppins', serif;
}

.theme-switch {
  @apply bg-seasalt dark:bg-jet dark:text-seasalt text-jet;
}
