@import 'tailwindcss';
@theme {
  --color-jet: #333333ff;
  --color-onyx: #414141ff;
  --color-davys-gray: #4d4d4dff;
  --color-pure-white: #ffffffff;
  --color-seasalt: #f8f8f8ff;
  --color-dodger-blue: #008ffeff;
  --color-argentinian-blue: #44aefeff;
}
